.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  z-index: 3;
  padding: 0 2.4rem;

  @media screen and (max-width: 768px) {
    padding: 0 1.6rem;
  }

  &[data-container="full"] {
    max-width: 100%;
  }
}
