.header {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  // padding: 2.4rem 2.4rem;
  width: 100%;
  margin-top: 2.4rem;
  // border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);

  @media screen and (max-width: 768px) {
    margin-top: 1.6rem;
  }

  nav {
    text-align: right;
    // margin-right: 4rem;

    @media screen and (max-width: 768px) {
      margin-right: 0rem;
    }

    a {
      color: var(--color-white);
      color: var(--color-teal-dark);
      display: inline-block;
      margin-bottom: 0.6rem;
      font-weight: 520;

      &:hover {
        color: var(--color-orange);
      }
    }
  }
}

.logo {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -1rem;
  width: 4.2rem;
  font-family: "Pathway Extreme", sans-serif !important;
  display: block;
  // margin-left: 4rem;

  @media screen and (max-width: 768px) {
    margin-left: 0rem;
  }

  span {
    transition: var(--transition);
  }

  span:first-of-type {
    color: #fff;
    color: var(--color-teal-dark);
    position: relative;
    z-index: 2;
  }
  span:last-of-type {
    color: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    mix-blend-mode: color;
  }

  &:hover {
    span {
      color: var(--color-orange);
    }
  }
}

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
