.block {
  overflow-x: clip;
  padding-top: 4rem;
}

.slideshow {
  position: relative;
  aspect-ratio: 16/10.5;

  @media screen and (max-width: 768px) {
    aspect-ratio: 16 / 11;
  }
}

.image {
  border-radius: 1.6rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0);
  transition: all 0.6s cubic-bezier(0.66, -0.19, 0.36, 1.37);
  width: 100%;
  background: white;
  cursor: pointer;

  @media screen and (max-width: 1100px) {
    border-radius: 0.8rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
  }

  &[data-order="1"] {
    z-index: 3;
    transform: translate(-50%, -50%);
  }

  --spacing: 4.8rem;

  @media screen and (max-width: 768px) {
    --spacing: 3.2rem;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;

    @media screen and (max-width: 1100px) {
      border-radius: 0.8rem;
    }
  }

  &[data-order="2"] {
    transform: translate(-50%, calc(-50% - var(--spacing))) scale(0.95);
    z-index: 2;
    // filter: blur(0.3rem);
    // img {
    //   opacity: 0.7;
    // }
  }

  &[data-order="3"] {
    transform: translate(-50%, calc(-50% - calc(2 * var(--spacing)))) scale(0.9);
    z-index: 1;

    // filter: blur(0.6rem);
    // img {
    //   opacity: 0.4;
    // }
  }

  &[data-order="4"],
  &[data-order="5"],
  &[data-order="6"],
  &[data-order="7"],
  &[data-order="8"],
  &[data-order="9"],
  &[data-order="10"],
  &[data-order="11"],
  &[data-order="12"],
  &[data-order="13"],
  &[data-order="14"] {
    transform: translate(-50%, calc(-50% - calc(3 * var(--spacing)))) scale(0.85);
    z-index: 0;
    opacity: 0;

    // filter: blur(0.6rem);
  }

  &[data-order="0"] {
    transform: translate(-50%, -50%) scale(1.05) !important;
    z-index: 5 !important;
    opacity: 0 !important;
  }
}

.out {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  filter: blur(0.8rem);
}

.controls {
  display: flex;
  // justify-content: space-between;
  margin-top: 1.2rem;
}

.dot {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.5);

  &[data-active-dot="true"] {
    background: rgba(0, 0, 0, 8);
  }
}

.dots {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-left: 2.4rem;
}

.buttons {
  display: flex;
  gap: 0.8rem;

  button {
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.24);
    background-color: var(--white);
    cursor: pointer;
    border-radius: 0.3rem;
    transition: var(--transition);
    font-size: 1.4rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);

      .triangle {
        // transform: translateX(0.2rem);
        --triangle-color: rgba(0, 0, 0, 0.7) !important;
      }
    }
  }
}

.triangle {
  --triangle-size: 0.4rem;
  --triangle-color: rgba(0, 0, 0, 0.45);
  display: inline-block;

  &[data-triangle="left"] {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;

    border-right: var(--triangle-size) solid var(--triangle-color);
    margin-right: 0.8rem;
  }

  &[data-triangle="right"] {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;

    border-left: var(--triangle-size) solid var(--triangle-color);
    margin-left: 0.8rem;
  }
}
