.garden {
  color: var(--section-title);

  h5 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.logos {
  --gap: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem var(--gap);
  margin: 8rem 0 2.4rem;

  @media screen and (max-width: 1100px) {
    justify-content: center;
  }
}

.logo {
  flex: 0 0 calc(20% - ((var(--gap) * 4) / 5));
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1100px) {
    flex: 0 0 calc(25% - ((var(--gap) * 3) / 4));
  }

  @media screen and (max-width: 768px) {
    flex: 0 0 calc(50% - ((var(--gap) * 1) / 2));
  }

  img {
    width: 50%;
    max-height: 8rem;
  }

  &[data-company="NPR"] {
    img {
      max-width: 10rem;
    }
  }

  &[data-company="Bold Commerce"] {
    img {
      max-width: 11rem;
    }
  }

  &[data-company="Proctor & Gamble"] {
    img {
      max-width: 8rem;
    }
  }

  &[data-company="Obama Foundation"] {
    img {
      width: 60%;
    }
  }

  &[data-company="Stones Throw"] {
    img {
      max-width: 6.4rem;
    }
  }

  &[data-company="Zippo"] {
    img {
      max-width: 12rem;
    }
  }
}

[data-section-theme="black"],
[data-section-theme="dark"] {
  .logo {
    //https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters/43960991#43960991
    filter: invert(100%) sepia() saturate(100000%) hue-rotate(200deg) brightness(0.75);
    filter: invert(88%) sepia(12%) saturate(1516%) hue-rotate(68deg) brightness(89%) contrast(87%);
    filter: invert(100%);
  }
}
