.rich {
  --gap: 3.2rem;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    gap: 1.6rem;
  }

  &[data-stack='true'] {
    flex-direction: column;
    max-width: 80ch;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0;

    .title {
      h2 {
        margin-top: 0;
        @media screen and (max-width: 768px) {
          margin-top: 0.8rem;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}

.title {
  color: var(--section-title);
  flex: 0 0 calc(50% - (var(--gap) / 2));

  h2 {
    margin-bottom: 0;
    margin-top: 1.6rem;
  }

  @media screen and (max-width: 768px) {
    flex: 0 0 100%;

    h2 {
      margin-bottom: 0;
      margin-top: 1.2rem;
    }
  }
}

.content {
  color: var(--section-title);
  flex: 0 0 calc(50% - (var(--gap) / 2));

  @media screen and (max-width: 768px) {
    flex: 0 0 100%;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
