.rich {
  --gap: 3.2rem;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  &[data-stack="true"] {
    flex-direction: column;
    max-width: 80ch;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0;
  }
}

.title {
  color: var(--section-title);
  flex: 0 0 calc(50% - (var(--gap) / 2));

  @media screen and (max-width: 768px) {
    flex: 0 0 100%;

    h2 {
      margin-bottom: 0;
    }
  }
}

.content {
  color: var(--section-title);
  flex: 0 0 calc(50% - (var(--gap) / 2));

  @media screen and (max-width: 768px) {
    flex: 0 0 100%;
  }

  p:first-of-type {
    margin-top: 0;
  }
}
