:root {
  --color-green: #efffaf;
  --color-green-light: #e3ff75;
  --color-green-dark: #e1f789;

  --color-red: #5c1c19;
  --color-red-light: #88413d;
  --color-red-dark: #3e0502;

  --color-orange: #ed4510;

  --color-grey: #e0e0d4;

  --color-black: #272724;
}
